[submodule "docs/tutorials/notebooks"]
	path = docs/tutorials/notebooks
	url = https://github.com/aristoteleo/spateo-tutorials.git
	branch = main
[submodule "docs/docs/tutorials/notebooks"]
	path = docs/docs/tutorials/notebooks
	url = https://github.com/aristoteleo/spateo-tutorials
	branch = main
[submodule "docs/spateo-tutorials"]
	path = docs/spateo-tutorials
	url = https://github.com/aristoteleo/spateo-tutorials.git
