repos:
-   repo: https://github.com/python/black
    rev: 23.10.1
    hooks:
      - id: black

-   repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
        args: ["--profile", "black", "--filter-files"]
