anndata>=0.7.4
colorcet>=2.0.1
cvxopt>=1.2.3
csbdeep>=0.6.3
descartes
dynamo-release>=1.0.9
fbgbp>=0.2.0
folium>=0.12.1
geopandas>=0.10.2
kneed>=0.7.0
kornia>=0.6.4
loompy>=3.0.5
logging-release>=0.0.4
mapclassify>=2.4.2
matplotlib>=3.1.0
networkx>=2.6.3
ngs_tools>=1.6.0
nudged>=0.3.1
numba>=0.46.0
numpy>=1.18.1<=2.10.0
opencv-python>=4.5.4.60
pandana
pandas>=0.25.1
PATSY>=0.5.1
plotly>=5.1.0
POT>=0.8.1
PVGeo>=2.1.0
pyacvd>=0.2.7
pymeshfix>=0.15.0
pynndescent>=0.4.8
pysal>=1.14.4
pyro-ppl
python-igraph>=0.7.1
pyvista>=0.33.3
scipy>=1.0
scikit-image>=0.18.0
scikit-learn>=0.19.1
# hdbscan>=0.8.26
seaborn>=0.9.0
Shapely>=1.8.0
statsmodels>=0.9.0
tensorflow
umap-learn>=0.5.1
kneed>=0.7.0
plotly
POT
pysal>=1.14.4
pyvista>=0.33.3
setuptools>=58.0.4
tqdm>=4.62.3
torch>=1.10.1+cu113
typing_extensions>=4.0.1
umap-learn>=0.5.1
vtk>=9.1.0
